// newgame-display.scss

@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;

.newgame-display {
  padding-top: 119px;
  width: 327px;
  margin: auto;

  @include breakpoint-up(medium) {
    padding-top: 277px;
    width: 460px;
  }

  @include breakpoint-up(large) {
    padding-top: 215px;
  }

  &__icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 auto;
    margin: 0 auto;

    & > .xo-icon {
      height: 32px;
      width: 32px;
      margin: 0 4px;
    }
  }

  &__chooser-div {
    margin-top: 32px;
    padding: 24px 24px 30px;
    border-radius: 10px;
    color: $silver;
    text-align: center;
    background-color: $semiDarkNavy;
    box-shadow: inset 0 -8px 0 0 $darkNavyShadow;

    @include breakpoint-up(medium) {
      margin-top: 40px;
    }
  }

  &__button-div {
    margin-top: 32px;

    @include breakpoint-up(medium) {
      margin-top: 40px;
    }

    & > button {
      &:not(:first-child) {
        margin-top: 16px;
      }

      @include breakpoint-up(medium) {
        &:not(:first-child) {
          margin-top: 20px;
        }
      }
    }
  }

  &__heading {
    margin-bottom: 24px;
  }

  &__reminder {
    margin-top: 18px;
    opacity: 0.5;
  }
}
