// newgame-display.scss

@use "../abstracts/colors" as *;

.newgame-display {
  padding-top: 119px;

  &__icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 auto;
    margin: 0 auto;

    & > .xo-icon {
      height: 32px;
      width: 32px;
      margin: 0 4px;
    }
  }

  &__chooser-div {
    margin-top: 32px;
    padding: 24px 24px 30px;
    border-radius: 10px;
    color: $silver;
    text-align: center;
    background-color: $semiDarkNavy;
    box-shadow: inset 0 -8px 0 0 $darkNavyShadow;
  }

  &__button-div {
    margin-top: 32px;

    & > button {
      &:not(:first-child) {
        margin-top: 16px;
      }
    }
  }

  &__heading {
    margin-bottom: 24px;
  }

  &__reminder {
    margin-top: 24px;
  }
}
