// _play-square.scss

@use "../abstracts/colors" as *;

.play-square {
  position: relative;
  background-color: $semiDarkNavy;
  --shadow-width: -8px;
  height: 95px;
  width: 96px;
  padding: 24px 28px 32px 28px;
  border-radius: 10px;

  box-shadow: inset 0 var(--shadow-width) 0 0 $darkNavyShadow;

  & > img {
    width: 40px;
    height: 40px;
  }

  & > .winmask {
    display: none;
    position: absolute;
    bottom: 2px;
    left: 0;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 40px;
    width: 100%;
    height: 100%;
    background-color: $darkNavy;
  }

  &.winning-x {
    background-color: $lightBlue;
    box-shadow: inset 0 var(--shadow-width) 0 0 $lightBlueShadow;

    & > img {
      display: none;
    }

    & > .winmask {
      mask-image: url("/public/icon-x.svg");
      display: block;
    }
  }

  &.winning-o {
    background-color: $lightYellow;
    box-shadow: inset 0 var(--shadow-width) 0 0 $lightYellowShadow;

    & > img {
      display: none;
    }

    & > .winmask {
      mask-image: url("/public/icon-o.svg");
      display: block;
    }
  }

  &--empty {
    cursor: pointer;
  }

  &__outline {
    display: none;
  }

  &--marked {
    & > .play-square__outline {
      display: none;
    }
  }

  &--empty:hover {
    & > .play-square__outline {
      display: block;
    }
  }
}
