// _score-box.scss

@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;

.score-box {
  border-radius: 10px;
  height: 64px;
  text-align: center;
  padding-top: 12px;

  @include breakpoint-up(medium) {
    height: 72px;
    border-radius: 15px;
  }

  &--yellow {
    background-color: $lightYellow;
  }

  &--blue {
    background-color: $lightBlue;
  }

  &--silver {
    background-color: $silver;
  }
}
