// _typography.scss

@use "../abstracts/mixins" as *;

html {
  font-size: 100%;
}

// newgame screen picker
h1 {
  font-size: 1rem;
  line-height: 1.26rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;

  @include breakpoint-up(medium) {
    font-size: 2.5rem;
  }
}

// card titles
h2 {
  font-size: 1.125rem;
  font-weight: 500;

  // same on all screen sizes
}

// hour values
h3 {
  font-size: 2rem;
  font-weight: 300;

  @include breakpoint-up(medium) {
    font-size: 2.5rem;
  }

  @include breakpoint-up(large) {
    font-size: 3.5rem;
  }
}

p {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.88px;
  text-transform: uppercase;

  // same on all screen sizes
}

button {
  font-size: 1rem;
  line-height: 1.26rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;

  @include breakpoint-up(medium) {
    font-size: 1.25rem;
    line-height: 1.575rem;
    letter-spacing: 1.25px;
  }

  // same on large
}
