// _colors.scss

$lightBlue: #31c3bd;
$lightBlueHover: #65e9e4;
$lightBlueShadow: #118c87;
$lightYellow: #f2b137;
$lightYellowHover: #ffc860;
$lightYellowShadow: #cc8b13;
$darkNavy: #1a2a33;
$semiDarkNavy: #1f3641;
$darkNavyShadow: #10212a;
$silver: #a8bfc9;
$silverHover: #dbe8ed;
$silverShadow: #6b8997;
